## Build results
bin/
obj/

## Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## IIS Express
.vs/config/
IISExpress/

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## Secrets
appsettings.Development.json
appsettings.Local.json
